[Unit]
Description=Graphite-API service
Requires=graphite-api.socket
RequiresMountsFor=/var/log/graphite-api /var/lib/graphite/whisper /var/lib/graphite-api
ConditionFileIsExecutable=/usr/bin/gunicorn3
ConditionPathExists=/etc/graphite-api.yaml
ConditionPathExists=/usr/lib/python3/dist-packages/graphite_api/app.py

[Service]
ExecStart=/usr/bin/python3.9 /usr/bin/gunicorn3 --name=graphite-api graphite_api.app:app
Restart=on-failure
User=_graphite
Group=_graphite
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target