#packer 
*.vdi
*.box
.vagrant/
*console.log
packer-cache/
packer_cache/
*.pem
*~$
*.ova
output*/
vagrant.d/
*.iso

*.priv

variables.json
.DS_Store
id_rsa
id_rsa*
id_rsa.pub
.Vagrantfile*
Vagrantfile~
config.default.yml

clone-pwrshell.ps1
pull-repo.ps1
roster.txt
clone-bash.sh
pull-repo.sh

# Artifacts for Published Documents
*.pdf
*.docx
*.txt
*~
chapter-*.html


# For Spark
._SUCCESS*
.part*
*.crc

# Docker
.env

# Node JS
node_modules/
arguments.txt

config
id_ed25519*

.vscode/

