#packer 
*.vdi
*.box
.vagrant/
*console.log
packer-cache/
*.pem
*~$
*.ova

variables.json
.DS_Store
id_rsa
id_rsa*
id_rsa.pub
.Vagrantfile*
Vagrantfile~


clone-pwrshell.ps1
pull-repo.ps1
roster.txt
clone-bash.sh
pull-repo.sh

# Artifacts for Published Documents
*.pdf
*.docx
*.txt

