(logging/init {:file "/var/log/riemann/riemann.log"})

(let [host "192.168.33.102"]
(tcp-server {:host host})
(udp-server {:host host})
(ws-server {:host host}))

(periodically-expire 5)

(let [index (index)]
    (streams
        (default :ttl 60
          index
          #(info %)
        )
    )
)