[Unit]
Description=Graphite Carbon Relay %i
After=network.target
Documentation=https://graphite.readthedocs.io

[Service]
Type=forking
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/carbon-relay --config=/etc/carbon/carbon.conf --instance %i --pidfile=/var/run/carbon-relay-%i.pid --logdir=/var/log/carbon/ start
PIDFile=/var/run/carbon-relay-%i.pid

[Install]
WantedBy=multi-user.target