[Unit]
Description=graphite-api (graphite)
Requires=graphite-api.socket
#RequireMountsFor=/var/log/graphite-api /var/lib/graphite/whisper /var/lib/graphite-api
ConditionFileIsExecutable=/usr/bin/gunicorn
ConditionPathExists=/etc/graphite-api.yaml
ConditionPathExists=/usr/lib/python3/dist-packages/graphite_api/app.py

[Service]
ExecStart=/usr/bin/gunicorn --name=graphite-api graphite_api.app:app
Restart=on-failure
User=_graphite
Group=_graphite
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target     

# Ubuntu has the gunicorn dependency: sudo apt-get install gunicorn
