(logging/init {:file "/var/log/riemann/riemann.log"})
; Added the TCP library so riemann can send events over the network
(require 'riemann.client)
; Added ther mailer library so riemann can email us 
(require '[examplecom.etc.email :refer :all])

(let [host "192.168.33.102"]
(tcp-server {:host host})
(udp-server {:host host})
(ws-server {:host host}))

(periodically-expire 10 {:keep-keys [:host :service :tags, :state, :description, :metric]})

(let [index (index)]
; Inbound events will be passed to these streams:
  (streams
    (default :ttl 60
    ; Index all events immediately.
      index

      #(info %)
; Note the emailing only works if you are on the campus 
    (expired
      (where (service #"^riemann.*")
        (email "hajek@iit.edu")
      )
    )
; Throttle example code
;    (expired
;      (where (service #"^riemann.*")
;        (throttle 1 600
;          (email "hajek@iit.edu")
; Rollup example code
;    (expired
;      (where (service #"^riemann.*")
;        (rollup 5 3600
;          (email "hajek@iit.edu")

    )
  )
)

