(logging/init {:file "/var/log/riemann/riemann.log"})
; Added the TCP library so riemann can send events over the network
(require 'riemann.client)

(let [host "192.168.33.101"]
(tcp-server {:host host})
(udp-server {:host host})
(ws-server {:host host}))

(periodically-expire 5)
; Create an asynch queue to collect events and send them in batches
(let [index (index)
  downstream (batch 100 1/10
    (async-queue! :agg { :queue-size 1e3
                         :core-pool-size 4
                         :max-pool-size 32}
    (forward
      (riemann.client/tcp-client :host "riemannmc"))))]
  
  (streams
    (default :ttl 60
      index
      
      #(info %)
      ; New stream function called downstream created
      (where (service #"^riemann.*")
        downstream))))
