.Button {
  border: none;
  border-radius: 10px;
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 2.8rem;
  cursor: pointer;
  height: 3vw;
  min-height: 4rem;
  color: #0096BF;
  margin-top: 2rem;
  margin: auto;

}

.Button:not(:first-of-type) {
  margin-top: 2rem;
}

.Blue {
  background-color: rgba(0, 198, 255, 0.8);
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 600px) {
  .Button {
  width: 75rem;
  margin-bottom: 4rem;
    
  }
  }