(logging/init {:file "/var/log/riemann/riemann.log"})

(let [host "0.0.0.0" tcp-port 5555]
(tcp-server {:host host :port tcp-port})
(udp-server {:host host})
(ws-server  {:host host})
(repl-server {:host "127.0.0.1"}))

(periodically-expire 5)

(let [index (index)]
(streams
  (default :ttl 60
    index

    #(info %))))